<!-- Diese Datei sollte in C:\Users\ITS-Admin\.m2 liegen. -->
<settings>
  <servers>
    <server>
      <id>intern-admin</id>
      <username>admin</username>
      <password>admin123</password>
    </server>
    <server>
      <id>intern-user</id>
      <username>user</username>
      <password>user123</password>
    </server>
  </servers>
  <profiles>
    <profile>
      <id>sonar</id>
      <properties>
        <sonar.host.url>http://localhost:9000</sonar.host.url>
        <sonar.login>sqa_3a437f508a02fd20458f71e0869f05389742f39f</sonar.login>
      </properties>
    </profile>
  </profiles>
</settings>
